html,
body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#city-input, #weather-output {
    max-width: 40rem;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

/* 11 px = 1.1rem */

